button {
  transition: 0.2s;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background: none;
  border: 1px solid #fff;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px #fff;
    transform: translate(-2px, -1px);
  }
}

.weather__btn {
  &--search {
  }
  &--convert-units {
    order: 1;
    right: 10px;
    width: 140px;
  }
}
